<style>
    .product-image {
        width: 150px;
    }
    .other-images{
        width:90px;
        border:1px solid lightgray;
        border-radius: 5px;
    }
</style>
<link rel="stylesheet" href="/multiselect/dist/css/bootstrap-multiselect.css" type="text/css">
<script type="text/javascript" src="/multiselect/dist/js/bootstrap-multiselect.js"></script>
<section class="text-center" xmlns:th="http://www.thymeleaf.org">
    <div class="container col-xs-8 col-xl-6 border rounded mt-5 pb-3">
        <form method="post" th:action="${isEdit==false ? '/project/create':'/project/edit/'+existing.getId()}"
              enctype="multipart/form-data">
            <h1 class="h1 mt-3" th:if="${isEdit}" th:text="${'Edit project: '+existing.getName()}"></h1>
            <h1 class="h1 mt-3" th:if="${!isEdit}" th:text="${'Create a new project'}"></h1>
            <hr/>
            <div class="row">
                <div class="form-group text-left col-sm-6">
                    <label for="name">Name</label>
                    <input class="form-control mb-3" type="text" id="name" name="name"
                           th:value="(${isEdit} ? ${existing.getName()} : '')" required>

                    <label for="name">Description</label>
                    <textarea class="form-control mb-3" id="description" name="description"
                              th:text="(${isEdit} ? ${existing.getDescription()} : '')" required></textarea>

                    <label for="software">Software used</label><br/>
                    <select id="software" name="software" multiple required>
                        <!-- For each category you should have one <option> like below  -->
                        <option th:if="${isEdit}"
                                th:selected="${existing.getSoftware().size()!=0 &&
                                existing.getSoftware().contains(s)}"
                                th:each="s : ${software}"
                                th:value="${s.getId()}"
                                th:text="${s.getName()}">
                        </option>
                        <option th:if="${!isEdit}"
                                th:each="s : ${software}"
                                th:value="${s.getId()}"
                                th:text="${s.getName()}">
                        </option>
                    </select>
                </div>
                <div class="form-group text-left col-sm-6">
                    <img class="product-image" th:if="${isEdit}" th:src="${existing.getMainImage().getLocation()}">
                    <hr th:if="${isEdit}"/>
                    <label for="main-image">Main image</label>
                    <input th:if="${!isEdit}" type="file" class="btn btn-primary mb-3" id="main-image" name="main-image" required/>
                    <input th:if="${isEdit}" type="file" class="btn btn-primary mb-3" id="main-image" name="main-image"/>
                    <label for="other-images">Other images</label>
                    <input type="file" class="btn btn-primary" id="other-images" name="other-images" multiple="multiple"/>
                    <div th:if="${isEdit}" class="text-center">
                        <span th:each="i : ${existing.getImages()}" class="position-relative par">
                            <img  th:src="${i.getLocation()}" class="other-images mt-3"/>
                            <span style="position:absolute;top:-23px;bottom:0;left:0;right:0;" class="text-left">
                                <button type="button" th:imageId="${i.getId()}" class="imageDelete btn btn-sm btn-danger">X</button>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <hr/>
            <button type="submit" class="btn btn-success btn-lg btn-block"
                    th:text="${isEdit? 'Save changes':'Create'}"></button>
            <a href="/profile" class="btn btn-primary btn-lg btn-block">Back</a>
        </form>
        <input th:if="${isEdit}" type="hidden" th:value="${existing.getId()}" id="projectIdInput"/>
    </div>
</section>
<script>
    $(document).ready(function () {
        var projectId=$("#projectIdInput").attr("value");
        $(".imageDelete").click(function () {
            var imgUrl=$(this).parent().siblings(".other-images").attr("src");
            var link = $(this);
            bootbox.confirm({
                title: "<div class='text-center'><h4>Are you sure that you want to delete the selected image?</h4><h5 class='text-danger'>This change will be permanent!</h5></div>",
                message:"<div class='text-center'> <img style='width:400px;' src='"+imgUrl+"'/></div>",
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            method: "GET",
                            url: "/project/deleteimage/",
                            data: { projectId: projectId,
                                imageId: link.attr("imageId")},
                            success: function () {
                                link.parent().parent().remove().draw();
                            },
                            error: function (response) {
                                console.log("error");
                            }
                        })
                    }
                }
            });

        });
    });
</script>
  <script type="text/javascript">
                                $(document).ready(function() {
        $('#software').multiselect();
    });
    </script>