<style>
    .edit-profile-picture {
        height:200px;
    }
</style>
<div class="container col-xs-8 col-xl-6 border rounded mt-5 pb-3">
    <form action="/profile/edit" method="POST" enctype="multipart/form-data">
        <h1 class="h1 text-center mt-2">Edit your profile</h1>
        <hr/>
        <div class="row">
            <div class="col-sm-6">
                <h1 th:text="'@'+${user.getUsername()}" class="text-center"></h1>
                <h2 th:text="${user.getName()}+' '+${user.getSurname()}" class="text-center">+</h2>
                <hr/>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="name" th:value="${user.getName()}">
                </div>
                <div class="form-group">
                    <label for="surname">Surname</label>
                    <input class="form-control" type="text" id="surname" name="surname" th:value="${user.getSurname()}">
                </div>

            </div>
            <div class="col-sm-6 text-center">
                <img class="img-fluid img-thumbnail edit-profile-picture zoomInImages" id="profile-picture"
                     th:src="${user.getProfilePicture().getLocation()}"/>
                <hr/>
                <input type="file" class="form-control btn btn-primary" id="image-upload" name="image-upload">Change profile picture</input>
            </div>

        </div>
        <hr/>
        <button type="submit" class="btn btn-success btn-lg btn-block">Save Changes</button>
        <a href="/profile" class="btn btn-primary btn-lg btn-block">Back</a>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>