<style>
    .profile-image{
        height:320px;
    }
    .project-image{
        height:100px;
    }
</style>

<div class="container border rounded mt-2" xmlns:th="http://www.thymeleaf.org">
    <div class="row mt-2 pb-3">
        <div class="col-sm-6 text-center">
            <h1 th:text="'@'+${user.getUsername()}"></h1>
            <h1 th:text="${user.getName()}+' '+${user.getSurname()}">+</h1>
            <img class="img-thumbnail profile-image zoomInImages" th:src="${user.getProfilePicture().getLocation()}"/>
            <hr/>
            <div class="row">
                <div class="col-10 text-left">
                    <h3>Projects:</h3>
                </div>
                <div class="col-2 text-left">
                    <h3 th:text="${projects.size()}"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-10 text-left">
                    <h3>Likes:</h3>
                </div>
                <div class="col-2 text-left">
                    <h3 th:text="${likes}"></h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h1 class="text-center" th:text="${'@'+user.getUsername()+'''s Projects'}"></h1>
            <hr th:if="${projects.size()==0}"/>
            <h3 class="text-center mt-5" th:if="${projects.size()==0}" th:text="${'@'+user.getUsername()+' does not have any projects yet! :('}"></h3>
            <table class="table" th:if="${projects.size()>0}" id="project-table">
                <thead>
                <tr class="text-center">
                    <th>Name</th>
                    <th>Image</th>
                    <th>Created on</th>
                    <th>Likes</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="tbody-helper">
                <tr th:each="p:${projects}" class="text-center">
                    <td th:text="${p.getName()}" class="align-middle"></td>
                    <td class="align-middle"><img class="project-image border rounded zoomInImagesDatatables" th:src="${p.getMainImage().getLocation()}"/></td>
                    <td th:text="${''+p.getCreated()}" class="align-middle"></td>
                    <td th:text="${p.getLikes().size()}" class="align-middle"></td>
                    <td class="align-middle"><a class="btn btn-primary btn-block" th:href="${'/project/view/'+p.getId()}">View</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<link rel="stylesheet" src="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"/>
<script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
    $("#project-table").DataTable({
        "columns": [
            {"name": "name", "orderable": false},
            {"name": "image", "orderable": false},
            {"name": "createdOn", "orderable": false},
            {"name": "likes", "orderable": false},
            {"name": "options", "orderable": false},
        ],
        "ordering": false,
        "bLengthChange": false,
        "searching": false,
        "pageLength": 3,
        "bInfo": false,
        "language": {
            "paginate": {
                "previous": "<<",
                "next":">>"
            }
        }
    });
    $("#project-table_paginate").addClass(["text-center","col-12"]);
</script>
<script>
    $(document).ready(function () {
        $("#tbody-helper").on("mouseenter",".zoomInImagesDatatables",function (e) {
            $(this).css('cursor', 'pointer');
            $(this).animate({ height: '+=15', width: '+=15' })
        });
        $("#tbody-helper").on("mouseleave",".zoomInImagesDatatables",function (e) {
            $(this).css('cursor', 'default');
            $(this).animate({ height: '-=15', width: '-=15' });
        });
    })
</script>
<script>
    $(document).ready(function () {
        $("#tbody-helper").on("click",".zoomInImagesDatatables",function (e) {
            var slika = $(this).attr('src');
            var modal = bootbox.dialog({
                message: "<img style='width:100%;' src=" + slika + ">",
                show: false,
                onEscape: function () {
                    modal.modal("hide");
                }
            });
            $(".modal-dialog").addClass("bootboxBig");
            modal.modal("show");
        });
    });
</script>