<header xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid bg-dark" style="height:50px;">
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <a class="text-white h2 col-8" href="/admin" style="text-decoration: none;">3D Corner</a>
                </div>
            </div>
            <div class="col-4">
            </div>
            <div class="col-4">
                <div class="row col-12 justify-content-end mr-0 ml-0 pr-0">
                    <a sec:authorize="isAuthenticated()" class="btn btn-success col-4 mt-1 h1" href="/admin">Admin Panel</a>
                    <a sec:authorize="isAuthenticated()" class="btn btn-light col-4 ml-2 mt-1 h1" href="/logout">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</header>