<header xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid bg-dark" style="height:50px;">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <a class="text-white h2 col-6" href="/">3D Corner</a>
                    </div>
                </div>
                <div class="col-4 text-right">
                    <div class="row">
                        <a sec:authorize="isAuthenticated()" class="btn btn-success col-5 mr-2 mt-1 h1" href="/admin">Admin Panel</a>
                        <a sec:authorize="isAuthenticated()" class="btn btn-light col-5 mt-1 h1" href="/logout">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>