<header xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid bg-dark" style="height:50px;">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <a class="text-white h2 col-6" href="/">3D Corner</a>
                        <form class="col-6 mt-1" sec:authorize="isAuthenticated()" action="/search" method="post">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search..." name="searchText" id="searchText">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-secondary btn-number">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-4 text-right">
                    <div class="row">
                        <a sec:authorize="isAuthenticated()" class="btn btn-success col-5 mr-2 mt-1 h1" href="/profile">My Profile</a>
                        <a sec:authorize="isAuthenticated()" class="btn btn-light col-5 mt-1 h1" href="/logout">Log Out</a>
                        <a sec:authorize="!isAuthenticated()" class="btn btn-light col-5 mr-2 mt-1 h1" href="/login">Log In</a>
                        <a sec:authorize="!isAuthenticated()" class="btn btn-light col-5 mt-1 h1" href="/register">Register</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>