<div class="container mt-5 pt-3 pb-3 ">
    <div class="row">
        <div class="col-6 offset-3 border pt-2">
            <div class="col-12 text-center">
                <h3 class="text-danger"><i class="fa fa-exclamation-triangle fa-5x"></i><br/>An unexpected error has occured :(</h3>
            </div>
            <hr/>
            <div class="col-12 text-center">
                <a class="btn btn-danger btn-block mb-2" href="javascript:history.back()">Go Back</a>
            </div>
        </div>
    </div>
</div>