<div class="container border rounded mt-5 col-6 pb-3" xmlns:th="http://www.thymeleaf.org">
    <h1 class="text-center col-12 mt-2">Welcome to 3D Corner</h1>
    <hr/>
    <h2 class="text-center">Join our community and start sharing your 3D artworks with people around the world!</h2>
    <hr/>
    <h5 class="text-center">3D Corner is a small social media targeting 3D artists. Its main use is to create a friendly community where 3D artists can share their work, as well as to get inspiration from others' work.</h5>
    <hr/>
    <a class="btn btn-lg btn-block col-10 btn-primary text-white offset-1" href="/register">Register</a>
    <a class="btn btn-lg btn-block col-10 btn-success text-white offset-1" href="/login">Log In</a>
</div>



