<div class="container col-xs-8 col-xl-6 border rounded mt-5 pb-3" xmlns:th="http://www.thymeleaf.org">
    <form method="post" action="/login">
        <h2 class="text-center mt-2">Log In</h2>
        <hr/>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required=""
                   autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                   required="">
        </p>

        <div th:text="${param.error}" class="text-danger"></div>
        <hr/>

        <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    </form>
    <a href="/register" class="btn btn-lg btn-block btn-info mt-2">Register here</a>
</div>