<div class="container col-xs-8 col-xl-6 border rounded mt-5 pb-3" xmlns:th="http://www.thymeleaf.org">
    <form method="post" action="/register">
        <h2 class="text-center mt-2">Register</h2>
        <hr/>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required=""
                   autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                   required="">
        </p>
        <p>
            <label for="repeatedPassword" class="sr-only">Repeat Password</label>
            <input type="password" id="repeatedPassword" name="repeatedPassword" class="form-control"
                   placeholder="Repeat Password" required="">
        </p>
        <p>
            <label for="name" class="sr-only">Name</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Name" required="" autofocus="">
        </p>
        <p>
            <label for="surname" class="sr-only">Surname</label>
            <input type="text" id="surname" name="surname" class="form-control" placeholder="Surname" required=""
                   autofocus="">
        </p>
        <p th:if="${hasError}" th:text="${error}" class="text-danger"></p>
        <hr/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <a href="/login" class="btn btn-lg btn-block btn-info">Already have an account? Log in here!</a>
    </form>
</div>
